.Center-Align-Div{
    height:100%;
    display:flex;
    flex-Direction:column;
    align-Items:center;
}


.Header-Wrap{
    width: 100%;
    height: 20%;
    display: flex;
    justify-Content: space-between;
    align-Items: center;
}

.Content-Wrap{
    width:60%;
    height:70%;
    display:flex;
    flex-Direction:column;
    align-Items:center;

}

.Button-1{
    width:5rem;
    height:5rem;
    margin-Left:1%
      
}

.Button-2{

    width:5rem;
    height:5rem;
    margin-Right:1%;

}

.Logo{

    height:5rem;
    font-Size:2rem;
    display:flex;
    align-Items:center;

}
.Vertical-Div{
    border: 1px solid black;
    width:100%;
    height:50%;
    display:flex;
    align-Items:center;
    justify-Content:center;
    margin-bottom: 1%;
}

.Home-Text{
    font-Size:4rem;
    text-Align:center;

}

.Input1{

    width:100%;
    height:30%;

}